/* experience.css */

/* Main Container */
.container {
    max-width: 1400px;
    margin: 0 auto;    
    padding: 0 15px;  
}

.experienceContainer {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    gap: 2em;
}

.experienceItem {
    display: flex;
    flex-direction: row;
    border: 20px #27489a solid;
    padding: 1em;
    gap: 1em;
}

.experienceHeaderText {
    font-size: 1.33em;
    margin: 0;
}

.experienceType {
    color: #27489a;
}

.experienceThumbnail {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 1em;
}

.experienceInfo {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.experienceDate {
    font-size: 32px;
    color: #27489a;
}

.experienceImg {
    display: flex;
    /* border: [pattern] [color] [thickness] */
    border: solid #5992F5 5px;
}

.experienceImg img {
    width: 100%;
}

.positionTitle {
    color: #27489a;
}