/* From Google Fonts for font style */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

html, body {
    font-family: "Kaisei Tokumin", serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    margin: 0 auto;
    background-color: #FFFDFC;
}

/* Element Sizes */
h1 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px; /* Max Width and Margins */
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    margin-bottom: 60px;
    box-sizing: border-box; /* Defined height and width will include padding and border */
}

.introHeader {
    /* Top Right Bottom Left - Spacing Order */
    margin: 7rem 0rem 3.5rem 0rem;
    text-align: center;
}


.homeNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* For Spacing */
    justify-content: space-between; /* Distribution of items with equal spacing between */
    width: 100%;
    max-width: 800px;
    margin-bottom: 3.5rem;
}

.homeNavBarLinks {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10;
    padding: 0;
    gap: 3rem;
}

.homeNavBarLinks a {
    text-decoration: none;
    font-weight: 1000;
    color: black;
    font-size: 1.25rem;
}

.homeNavBarLinks a:hover {
    color: #5992F5;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;;
}

.navBarLinks {
    border: 5px black;
    border-style: solid none;
    padding: 35px 50px;
}

.socialLinks {
    display: flex;
    gap: 2em;
}

.socialLinks img {
    height: 65px;
}

.socialLinks a:hover {
    opacity: 0.5;
}

.winglet img:hover {
    opacity: 0.5;
}

/* For media devices */
/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    font-size: 12px;
  }
}